<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="marcomessa" translate="label" sortOrder="10">
            <label>Out of stock at last</label>
        </tab>
        <section id="outofstockatlast" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>marcomessa</tab>
            <resource>Marcomessa_OutOfStockAtLast::config_outofstockatlast</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="stack_position" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Stack Position</label>
                    <source_model>Marcomessa\OutOfStockAtLast\Model\Config\Source\StackPosition</source_model>
                    <comment>The position of OutOfStock sorting inside ElasticSearch sorts stack. Default to Top.</comment>
                </field>
            </group>
        </section>
    </system>
</config>